<!DOCTYPE html>
<html class="x-admin-sm">

<head>
	<meta charset="UTF-8">
	<title>正禾疗养后台系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/xadmin.css">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
	<script src="/lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/xadmin.js"></script>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<!--[if lt IE 9]>
	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="">首页</a>
			<a href="">用户管理</a>
			<a>
				<cite>平台用户</cite></a>
		</span>
		<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
			onclick="location.reload()" title="刷新">
			<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
	</div>
	<div class="layui-fluid" id="app">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body ">
						<form class="layui-form layui-col-space5">
							<div class="layui-inline layui-show-xs-block">
								<input type="text" name="user_name" v-model.lazy="user_name" placeholder="请输入用户名称" autocomplete="off"
									class="layui-input">
							</div>
							<div class="layui-inline layui-show-xs-block">
								<input type="text" name="user_phone" v-model.lazy="user_phone" placeholder="请输入用户电话" autocomplete="off"
									class="layui-input">
							</div>
							<div class="layui-inline layui-show-xs-block">
								<input type="text" name="nickname" v-model.lazy="nickname" placeholder="请输入用户昵称" autocomplete="off"
									class="layui-input">
							</div>

							<div class="layui-input-inline layui-show-xs-block">
								<select name="is_vip" lay-filter='getIsVip'>
									<option value="">请选择是否购买过产品</option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</div>
							<div class="layui-input-inline layui-show-xs-block">
								<select name="state" lay-filter='getState'>
									<option value="">请选择状态</option>
									<option value="1">启用</option>
									<option value="0">禁用</option>
									<option value="-1">删除</option>
								</select>
							</div>
							<div class="layui-inline layui-show-xs-block">
								<input class="layui-input" autocomplete="off" placeholder="创建时间开始" name="start" id="start"
									v-model="start">
							</div>
							<div class="layui-inline layui-show-xs-block">
								<input class="layui-input" autocomplete="off" placeholder="创建时间结束" name="end" id="end" v-model="end">
							</div>
							<div class="layui-inline layui-show-xs-block">
								<button class="layui-btn" type="button" @click.stop="btnSearch()"><i
										class="layui-icon">&#xe615;</i></button>
							</div>
						</form>
					</div>
					<div class="layui-card-body layui-table-body layui-table-main">
						<table class="layui-table layui-form" id="table">
							<thead>
								<tr class='header'>
									<th>ID</th>
									<th>openid</th>
									<th>用户名称</th>
									<th>电话</th>
									<th>昵称</th>
									<th>头像</th>
									<th>性别</th>
									<th>是否购买过产品</th>
									<th>创建时间</th>
									<th>当前状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-cloak v-for="(item,index) in list" :key="item.user_id">
									<td>{{item.user_id}}</td>
									<td>{{item.openid}}</td>
									<td>{{item.user_name}} <span class="layui-btn layui-btn-mini layui-btn-normal"
											@click.stop="editUserName(index)">修改</span></td>
									<td>{{item.user_phone}} <span class="layui-btn layui-btn-mini layui-btn-normal"
											@click.stop="editUserPhone(index)">修改</span></td>
									<td>{{item.nickname}}</td>
									<td><img :src="item.headimgurl" alt="" style="width: 50px;height: 50px;"></td>
									<td>{{item.sexual}}</td>
									<td>{{item.is_vip}}</td>
									<td>{{item.create_time}}</td>
									<td class="td-status" v-if="item.state=='已启用'">
										<span class="layui-btn layui-btn-mini layui-btn-normal"
											@click.stop="changeState(index,0)">{{item.state}}</span></td>
									<td class="td-status" v-else-if="item.state=='已禁用'">
										<span class="layui-btn layui-btn-mini layui-btn-disabled"
											@click.stop="changeState(index,1)">{{item.state}}</span></td>
									<td class="td-status" v-else>
										<span class="layui-btn layui-btn-mini layui-btn-danger">{{item.state}}</span></td>

									<td class="td-manage" v-if="item.state != '已删除'">
										<a title="查看预约" @click="showCheckin(item.user_id)" href="javascript:;">
											<i class="layui-icon">&#xe63c;</i>
										</a>
										<a title="信息补充" @click="edit(item.user_id)" href="javascript:;">
											<i class="layui-icon">&#xe642;</i>
										</a>
										<a title="服务余量" @click="changeProduct(item.user_id)" href="javascript:;">
											<i class="layui-icon">&#xe653;</i>
										</a>
										<a title="删除" @click="changeState(index,-1)" href="javascript:;">
											<i class="layui-icon">&#xe640;</i>
										</a>
									</td>
									<td class="td-manage" v-else></td>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="layui-card-body " id="pageList">
						<div class="page" v-cloak v-if="list !==[]">
							<div>
								<a class="prev" href="javascript:;" @click="prev">&lt;&lt;</a>
								<a class="num" href="javascript:;" v-if="page-2>0" @click="goPage(page-2)">{{page-2}}</a>
								<a class="num" href="javascript:;" v-if="page-1>0" @click="goPage(page-1)">{{page-1}}</a>
								<span class="current">{{page}}</span>
								<a class="num" href="javascript:;" v-if="page*1+1<=pageAll" @click="goPage(page*1+1)">{{page*1+1}}</a>
								<a class="num" href="javascript:;" v-if="page*1+2<=pageAll" @click="goPage(page*1+2)">{{page*1+2}}</a>
								<a class="next" href="javascript:;" @click="next">&gt;&gt;</a>
							</div>
						</div>
					</div>
					<div style="display: none;" id="checkins">
						<table class="layui-table layui-form" id="table">
							<thead>
								<tr class='header'>
									<th>预约人</th>
									<th>预约电话</th>
									<th>预约时间</th>
									<th>预约类型</th>
									<th>状态</th>
									<th>取消原因</th>
								</tr>
							</thead>
							<tbody>
								<tr v-cloak v-for="(item,index) in checkins">
									<td>{{item.checkin_name}}</td>
									<td>{{item.checkin_phone}}</td>
									<td>{{item.checkin_time}}</td>
									<td>{{item.checkin_type}}</td>
									<td :style="setStyle(item.state)">{{item.state}}</td>
									<td>{{item.cancel_reason}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="layui-row" id="hiddenForm" style="display: none;">
						<div class="layui-card-body ">
							<form class="layui-form layui-col-space5">
								<div class="layui-inline layui-show-xs-block">
									<input type="text" name="package_name" v-model.lazy="package_name" placeholder="请输入产品包名称"
										autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input type="text" name="product_name" v-model.lazy="product_name" placeholder="请输入产品名称"
										autocomplete="off" class="layui-input">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<button class="layui-btn" type="button" @click.stop="hiddenSearch()"><i
											class="layui-icon">&#xe615;</i></button>
								</div>
							</form>
						</div>
						<table class="layui-table layui-form">
							<thead>
								<tr class='header'>
									<th>产品包</th>
									<th>产品名称</th>
									<th>产品类型</th>
									<th>产品总量</th>
									<th>产品剩余</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-cloak v-for="(item,index) in hidden_list"
									:key="user_id + '_' + item.package_id + '_' + item.product_id">
									<td>{{item.package_name}}</td>
									<td>{{item.product_name}}</td>
									<td>{{item.product_type === 1? '次数卡' :'储值卡'}}</td>
									<td>{{item.product_type === 1? item.product_num : '¥' + item.product_money}}</td>
									<td>{{item.product_type === 1? item.surplus_num : '¥' + item.surplus_money}}</td>
									<td><span class="layui-btn" @click="spend(index)">消费</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
<script>

	let app = new Vue({
		el: '#app',
		data: {
			user_name: '',
			user_phone: '',
			nickname: '',
			is_vip: '',
			state: '',
			start: '',
			end: '',
			list: [],
			page: 1,
			pageAll: 1,
			checkins: [],

			user_id: 0,
			product_name: '',
			package_name: '',
			hidden_list: [],
			send_data: {}
		},
		created: function () {
			layui.use(['laydate', 'form', 'layer', 'jquery'], () => {
				let form = layui.form
				let laydate = layui.laydate
				let layer = layui.layer
				let $ = layui.jquery
				form.on('select(getState)', (data) => {
					this.state = data.value
				})
				form.on('select(getIsVip)', (data) => {
					this.is_vip = data.value
				})
				laydate.render({
					elem: '#start',
					type: 'datetime',
					trigger: 'click',
					done: (value) => {
						this.start = value
					}
				});
				laydate.render({
					elem: '#end',
					type: 'datetime',
					trigger: 'click',
					done: (value) => {
						this.end = value
					}
				});
				this.search()
			})
		},
		updated: function () {
			layui.use(['form', 'upload'], () => {
				layui.form.render();
			})
		},
		methods: {
			setStyle(state) {
				switch (state) {
					case '已确认':
						return 'color:#1E9FFF';
						break;
					case '已取消':
						return 'color:#FF5722';
						break;
					case '未确认':
						return 'color:#c2c2c2';
						break;
				}
			},
			spend(i, e) {
				layui.use(['jquery', 'layer'], () => {
					let $ = layui.jquery
					layer.prompt({
						formType: 0,
						value: '0',
						title: '请输入此次消费金额或者次数',
						area: ['800px', '350px'] //自定义文本域宽高
					},  (value, index, elem) => {
						if (parseFloat(value) <= 0 || isNaN(parseFloat(value))) {
							layer.msg('请给一个正数', { time: 2000 })
							return false
						}
						$.ajax({
							//请求方式
							type: "POST",
							//请求的媒体类型
							dataType: "JSON",
							//请求地址
							url: "/back/UserProduct/spend",
							//数据，json字符串
							data: { product_id: this.hidden_list[i].product_id,order_id: this.hidden_list[i].order_id, package_id: this.hidden_list[i].package_id, user_id: this.hidden_list[i].user_id,spend:value},
							// async: false,
							//请求成功
							success: (rtn) => {
								if (rtn.code === 500) {
									layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index) {
										//关闭弹窗
										layer.close(index);
										parent.location.href = '/back/login.html';
									});
								} else if (rtn.code === 200) {
									if (this.hidden_list[i].product_type == 1) {
										this.hidden_list[i].surplus_num -= value
									} else {
										this.hidden_list[i].surplus_money = (this.hidden_list[i].surplus_money-value).toFixed(2)
									}
									
								} else {
									layer.alert(rtn.msg, { icon: 0, closeBtn: 0 }, function (index) {
										//关闭弹窗
										layer.close(index);
									});
								}
							},
							//请求失败，包含具体的错误信息
							error: function (e) {
								console.log(e.status);
								console.log(e.responseText);
							}
						});
						layer.close(index);
					});
				});
			},
			hiddenSearch() {
				layui.use(['jquery', 'layer'], () => {
					let $ = layui.jquery
					let layer = layui.layer
					let loadIndex = layer.load(2, {
						// shade: [0.3, '#000'] //0.1透明度的白色背景
					});
					$.ajax({
						//请求方式
						type: "POST",
						//请求的媒体类型
						dataType: "JSON",
						//请求地址
						url: "/back/UserProduct/getProduct",
						//数据，json字符串
						data: { product_name: this.product_name, package_name: this.package_name, user_id: this.user_id },
						// async: false,
						//请求成功
						success: (rtn) => {
							layer.close(loadIndex)
							if (rtn.code === 500) {
								layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index) {
									//关闭弹窗
									layer.close(index);
									parent.location.href = '/back/login.html';
								});
							} else if (rtn.code === 200) {
								this.hidden_list = rtn.data.list
							} else {
								layer.alert(rtn.msg, { icon: 0, closeBtn: 0 }, function (index) {
									//关闭弹窗
									layer.close(index);
								});
							}
						},
						//请求失败，包含具体的错误信息
						error: function (e) {
							console.log(e.status);
							console.log(e.responseText);
						}
					});
				});
			},
			changeProduct(user_id) {
				this.user_id = user_id
				layui.use(['jquery', 'layer'], () => {
					let $ = layui.jquery
					let layer = layui.layer
					let loadIndex = layer.load(2, {
						// shade: [0.3, '#000'] //0.1透明度的白色背景
					});
					$.ajax({
						//请求方式
						type: "POST",
						//请求的媒体类型
						dataType: "JSON",
						//请求地址
						url: "/back/UserProduct/getProduct",
						//数据，json字符串
						data: { product_name: this.product_name, package_name: this.package_name, user_id: this.user_id },
						// async: false,
						//请求成功
						success: (rtn) => {
							layer.close(loadIndex)
							if (rtn.code === 500) {
								layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index) {
									//关闭弹窗
									layer.close(index);
									parent.location.href = '/back/login.html';
								});
							} else if (rtn.code === 200) {
								this.hidden_list = rtn.data.list
								layer.open({
									type: 1,
									title: "服务余量",
									closeBtn: false,
									shift: 2,
									area: ['600px', '600px'],
									shadeClose: true,
									// btn: ['确定', '取消'],
									// btnAlign: 'c',
									content: $('#hiddenForm'),
									yes: (index, layero) => {
										//do something
										// layer.close(index); //如果设定了yes回调，需进行手工关闭
										// $.ajax({
										// 	//请求方式
										// 	type: "POST",
										// 	//请求的媒体类型
										// 	dataType: "JSON",
										// 	//请求地址
										// 	url: "/back/userproduct/spend",
										// 	//数据，json字符串
										// 	data: JSON.parse(JSON.stringify(this.send_data)),
										// 	success: (rtn) => {
										// 		if (rtn.code === 500) {
										// 			layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index) {
										// 				//关闭弹窗
										// 				layer.close(index);
										// 				parent.location.href = '/back/login.html';
										// 			});
										// 		} else if (rtn.code === 200) {
										// 			layer.close(index)
										// 			layer.msg(rtn.msg,{time:1000})
										// 			this.list[i].order_start = this.order_start
										// 			this.list[i].order_end = this.order_end
										// 			this.list[i].entry_time = this.entry_time
										// 		} else {
										// 			layer.alert(rtn.msg, { icon: 0, closeBtn: 0 }, function (index) {
										// 				//关闭弹窗
										// 				layer.close(index);
										// 			});
										// 		}
										// 	},
										// 	//请求失败，包含具体的错误信息
										// 	error: function (e) {
										// 		console.log(e.status);
										// 		console.log(e.responseText);
										// 	}
										// });
									},
									end: () => {
										this.hidden_list = []
										this.send_data = {}
										this.user_id = 0
										this.package_name = ''
										this.product_name = ''
									}
								});
							} else {
								layer.alert(rtn.msg, { icon: 0, closeBtn: 0 }, function (index) {
									//关闭弹窗
									layer.close(index);
								});
							}
						},
						//请求失败，包含具体的错误信息
						error: function (e) {
							console.log(e.status);
							console.log(e.responseText);
						}
					});
				});
			},
			btnSearch() {
				this.page = 1
				this.search()
			},
			search() {
				layui.use(['jquery', 'layer'], () => {
					let $ = layui.jquery
					let layer = layui.layer
					let loadIndex = layer.load(2, {
						// shade: [0.3, '#000'] //0.1透明度的白色背景
					});
					$.ajax({
						//请求方式
						type: "POST",
						//请求的媒体类型
						dataType: "JSON",
						//请求地址
						url: "/back/User/getList",
						//数据，json字符串
						data: { user_name: this.user_name, user_phone: this.user_phone, nickname: this.nickname, state: this.state, is_vip: this.is_vip, page: this.page, end: this.end, start: this.start },
						//请求成功
						success: (rtn) => {
							layer.close(loadIndex)
							if (rtn.code === 500) {
								layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index) {
									//关闭弹窗
									layer.close(index);
									parent.location.href = '/back/login.html';
								});
							} else if (rtn.code === 200) {
								this.list = rtn.data.list
								this.page = rtn.data.page
								this.pageAll = rtn.data.pageAll

							} else {
								layer.alert(rtn.msg, { icon: 0, closeBtn: 0 }, function (index) {
									//关闭弹窗
									layer.close(index);
								});
							}
						},
						//请求失败，包含具体的错误信息
						error: function (e) {
							console.log(e.status);
							console.log(e.responseText);
						}
					});
				});
			},
			changeState(i, state) {
				layui.use(['jquery', 'layer'], () => {
					let $ = layui.jquery
					let layer = layui.layer
					let msg = '';
					let res_msg = '';
					switch (state) {
						case 1:
							msg = '启用'
							res_msg = '已启用'
							break;
						case 0:
							msg = '禁用'
							res_msg = '已禁用'
							break;
						case -1:
							msg = '删除'
							res_msg = '已删除'
							break;
					}
					layer.confirm('您确定要' + msg + '吗？', {}, (index) => {
						$.ajax({
							//请求方式
							type: "POST",
							//请求的媒体类型
							dataType: "JSON",
							//请求地址
							url: "/back/user/changeState",
							//数据，json字符串
							data: { user_id: this.list[i].user_id, state: state },
							//请求成功
							success: (rtn) => {
								if (rtn.code === 500) {
									layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index1) {
										//关闭弹窗
										layer.close(index1);
										parent.location.href = '/back/login.html';
									});
								} else if (rtn.code === 200) {
									this.list[i].state = res_msg;
									layer.alert(rtn.msg, { icon: 1, closeBtn: 0 }, function (index1) {
										//关闭弹窗
										layer.close(index1);
									});
								} else {
									layer.alert(rtn.msg, { icon: 0, closeBtn: 0 }, function (index1) {
										//关闭弹窗
										layer.close(index1);
									});
								}
								layer.close(index)
							},
							//请求失败，包含具体的错误信息
							error: function (e) {
								console.log(e.status);
								console.log(e.responseText);
							}
						});
					});
				})
			},
			editUserName(i) {
				layui.use(['jquery', 'layer'], () => {
					let layer = layui.layer
					let $ = layui.jquery
					layer.prompt({
						formType: 0,
						value: this.list[i].user_name,
						title: '请输入新的姓名',
						// area: ['800px', '350px'] //自定义文本域宽高
					}, (value, index, elem) => {
						$.ajax({
							//请求方式
							type: "POST",
							//请求的媒体类型
							dataType: "JSON",
							//请求地址
							url: "/back/user/editUserName",
							//数据，json字符串
							data: { user_id: this.list[i].user_id, user_name: value },
							//请求成功
							success: (rtn) => {
								if (rtn.code === 500) {
									layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index1) {
										//关闭弹窗
										layer.close(index1);
										parent.location.href = '/back/login.html';
									});
								} else if (rtn.code === 200) {
									this.list[i].user_name = value;
									layer.close(index);
									layer.msg(rtn.msg, { time: 2000 })
								} else {
									layer.msg(rtn.msg, { time: 2000 })
								}
							},
							//请求失败，包含具体的错误信息
							error: function (e) {
								console.log(e.status);
								console.log(e.responseText);
							}
						});

					});
				})
			},
			editUserPhone(i) {
				layui.use(['jquery', 'layer'], () => {
					let layer = layui.layer
					let $ = layui.jquery
					layer.prompt({
						formType: 0,
						value: this.list[i].user_phone,
						title: '请输入新的手机号',
						// area: ['800px', '350px'] //自定义文本域宽高
					}, (value, index, elem) => {
						if (value.search(/^1\d{10}$/) != 0) {
							layer.msg('请输一个合格的手机号', { time: 2000 })
							return false
						}
						$.ajax({
							//请求方式
							type: "POST",
							//请求的媒体类型
							dataType: "JSON",
							//请求地址
							url: "/back/user/editUserPhone",
							//数据，json字符串
							data: { user_id: this.list[i].user_id, user_phone: value },
							//请求成功
							success: (rtn) => {
								if (rtn.code === 500) {
									layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index1) {
										//关闭弹窗
										layer.close(index1);
										parent.location.href = '/back/login.html';
									});
								} else if (rtn.code === 200) {
									this.list[i].user_phone = value;
									layer.close(index);
									layer.msg(rtn.msg, { time: 2000 })
								} else {
									layer.msg(rtn.msg, { time: 2000 })
								}
							},
							//请求失败，包含具体的错误信息
							error: function (e) {
								console.log(e.status);
								console.log(e.responseText);
							}
						});

					});
				})
			},
			showCheckin(i) {
				layui.use(['jquery', 'layer'], () => {
					let layer = layui.layer
					let $ = layui.jquery
					let loadIndex = layer.load(2, {
						// shade: [0.3, '#000'] //0.1透明度的白色背景
					});
					$.ajax({
						//请求方式
						type: "POST",
						//请求的媒体类型
						dataType: "JSON",
						//请求地址
						url: "/back/user/getCheckin",
						//数据，json字符串
						data: { user_id: i },
						//请求成功
						success: (rtn) => {
							layer.close(loadIndex)
							if (rtn.code === 500) {
								layer.alert(rtn.msg, { icon: 2, closeBtn: 0 }, function (index1) {
									//关闭弹窗
									layer.close(index1);
									parent.location.href = '/back/login.html';
								});
							} else if (rtn.code === 200) {
								this.checkins = rtn.data
								layer.open({
									type: 1,
									title: "预约显示",
									closeBtn: false,
									shift: 2,
									area: ['50%', '80%'],
									shadeClose: true,
									// btn: ['新增', '取消'],
									// btnAlign: 'c',
									content: $('#checkins')
								});
							} else {
								layer.alert(rtn.msg, { icon: 0, closeBtn: 0 }, function (index1) {
									//关闭弹窗
									layer.close(index1);
								});
							}
						},
						//请求失败，包含具体的错误信息
						error: function (e) {
							console.log(e.status);
							console.log(e.responseText);
						}
					});
				})
			},
			edit(hotel_id) {
				xadmin.open('补充信息', '/back/message/hotel_edit.html?hotel_id=' + hotel_id, 1000, 600)
			},
			next() {
				if (this.page * 1 + 1 <= this.pageAll) {
					this.page++
					this.search()
				} else {
					layer.msg('没有更多数据！', { icon: 5, time: 1000 });
				}
			},
			prev() {
				if (this.page * 1 - 1 > 0) {
					this.page--
					this.search()
				} else {
					layer.msg('没有更多数据！', { icon: 5, time: 1000 });
				}
			},
			goPage(page) {
				this.page = page
				this.search()
			},
		}
	})
</script>

</html>